@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: [light, dark ]--default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4c4452;
  --color-secondary: #dcd3e4;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #dcd3e4;
  --color-secondary: #4c4452;
  --color-gray-600: #9aa0a7;
  --color-gray-800: #dcd3e4dc;
  --color-white : #252525;
  --color-gray-900 : #9f9f9f;
  --color-shadow : #111;
}


body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-primary{
  background-color: #4c4452;
  color: #fff;
}
.btn-secondary{
  background-color: #fff;
  color: #4c4452;
}
